// @import "bourbon/bourbon";
// @import "neat/neat";
// @import "base/reset";

// Your styles

[data-ui-role="container"] {
  position: relative;
  line-height: 0;
  user-select: none;
}

[data-ui-role="handle"],
[data-ui-role="from"],
[data-ui-role="to"] {
  pointer-events: none;
  user-select: none;
}

[data-ui-role="fallback"] {
  position: relative;
  visibility: hidden;

  img {
    max-width: 100%;
    user-select: none;
  }
}

[data-ui-role="from"],
[data-ui-role="to"] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  // opacity: .3;

  img {
    min-width: 100%;
    // really the min-width should be whatever the 100% is
    // dictated by placeholder
  }
}

[data-ui-role="handle"]  {
  bottom: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  img {
    max-height: 100%;
  }
}

.handle {
  // background-image: url('build/images/product-slide-line.png');

  transform: translateX(-50%);
  // width: 5px;
  // height: 100%;
}


.img-widget {
  // background: pink;
  margin: 20% auto;
  max-width: 750px;
}

